*.fsb
*.fsb.info
*.log
maps/coruscant.map
maps/geonosis.map
maps/hoth.map
maps/imp_deathstar.map
maps/kashyyyk.map
maps/mos_eisley.map
maps/mustafar.map
maps/scarif.map
maps/utapau.map
/TagTool-NET-Test/temp
maps/hoth_old.map
maps/lightsabers.map
